<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396590491646-72q5ft5usa7shjiruae40r21ht6m26e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396590491646-72q5ft5usa7shjiruae40r21ht6m26e0</string>
	<key>API_KEY</key>
	<string>AIzaSyATmZrplYn9ddOBERwKbCzanJZvYnczl3I</string>
	<key>GCM_SENDER_ID</key>
	<string>396590491646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bDonate</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlytics-174ca</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlytics-174ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396590491646:ios:87f411a7f3d6a7e829c2af</string>
</dict>
</plist>